/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('ottapp/static/images/pexels-photo-255379.webp'); /* Path relative to the CSS file */
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent repeating the image */
}


/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header div {
    display: inline-block;
}

/* Heading (h1) Styles */
header h1{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

/* Link Styles */
header a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 16px;
}

header a:hover {
    background-color: #0056b3;
}
